@model EmpleadosViewModel

<div class="card text-primary">
    <div class="card-header text-center">
        <h5>Actualizar Empleado</h5>
    </div>
    <div class="card-body text-primary">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Apellido" class="control-label"></label>
                        <input asp-for="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cedula" class="control-label"></label>
                        <input asp-for="Cedula" class="form-control" />
                        <span asp-validation-for="Cedula" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cargo" class="control-label"></label>
                        <input asp-for="Cargo" class="form-control" />
                        <span asp-validation-for="Cargo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CorreoElectronico" class="control-label"></label>
                        <input asp-for="CorreoElectronico" class="form-control" />
                        <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="GuarderiaId" class="control-label">Guardería</label>
                        <select asp-for="GuarderiaId" class="form-control" asp-items="@(new SelectList(ViewBag.GuarderiaList, "Id", "Nombre"))">
                            <option value="">Seleccione una guardería</option>
                        </select>
                        <span asp-validation-for="GuarderiaId" class="text-danger"></span>
                    </div>

                    <div class="card-footer text-center">
                        <div class="form-group">
                            <input type="submit" value="Actualizar" class="btn btn-outline-primary btn-sm" />
                            <a asp-action="Index" class="btn btn-outline-success btn-sm">Volver a la lista</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
